.flex-box-containeer-1 {
    flex: auto;
    border: 1px solid black;
    text-align: center;
    display:flex;
    padding:10px;
    flex-wrap: wrap;
    justify-content: space-around;

}
.flex-container-1 div {
    display: flex;
    padding: 10px;
    border: 1px dotted pink;
    align-items: center;
}

.containeer-1{
    border: powderblue 5px solid;
    margin: auto;
    width: 75%;
    text-align: center;

}